@import "./reset";
@import "./global";
@import "./themes/light";
@import "./themes/dark";

.App {
  font-family: "Times New Roman", Times, serif;
  font-size: var(--font-size-m);
  color: var(--font-primary-color);

  background-color: var(--bg-primary-color);
  min-height: var(--window-height);

  .conteiner {
    display: flex;
    height: calc(var(--window-height) - var(--top-height));
  }

  .SidebarLayout {
    flex-shrink: 0;
  }

  .content {
    flex-grow: 1;
    overflow: auto;
    padding: 16px;
  }
}
