:root {
  --FIRST_QUARTER: rgba(0, 26, 255, 0.5);
  --SECOND_QUARTER: rgba(1, 129, 16, 0.5);
  --THIRD_QUARTER: rgba(6, 180, 154, 0.5);
  --FOURTH_QUARTER: rgba(255, 132, 0, 0.5);

  --FIRST_QUARTER_TRANSPARENT: rgba(0, 26, 255, 0.2);
  --SECOND_QUARTER_TRANSPARENT: rgba(1, 129, 16, 0.2);
  --THIRD_QUARTER_TRANSPARENT: rgba(6, 180, 154, 0.2);
  --FOURTH_QUARTER_TRANSPARENT: rgba(255, 132, 0, 0.2);
}
