:root,
.app_light {
  // fonts
  --font-primary-color: rgb(29 29 29);
  --font-inverted-primary-color: rgb(229 229 229);

  // colors
  --bg-primary-color: rgb(229 229 229);
  --bg-secondary-color: rgb(18 18 193 / 60%);
  --bg-third-color: rgb(85 85 159 / 60%);
}
