:root,
.app_light {
  --font-primary-color: rgb(29, 29, 29);
  --font-inverted-primary-color: rgb(229, 229, 229);

  --bg-primary-color: rgb(229, 229, 229);
  --bg-secondary-color: rgba(18, 18, 193, 0.6);
  --bg-third-color: rgba(85, 85, 159, 0.6);
}