$cell-width: 80px;

.TableCell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
  border-style: none;

  &:focus-within {
    position: relative;
    z-index: 10;
    min-height: $cell-width;
  }

  &.isVertical {
    writing-mode: vertical-rl;
    transform: rotate(180deg);

    &:focus-within {
      writing-mode: horizontal-tb;
      transform: rotate(0deg);
    }
  }

  &.hasError {
    background-color: pink;
  }
}

.TextareaCell {
  cursor: pointer;
  resize: none;
  border-style: none;
  background-color: inherit;

  &:focus {
    cursor: text;
  }

  &.isNotVertical {
    width: 100%;
  }
}

.InputCell {
  cursor: pointer;
  background-color: transparent;
  border-style: none;
  width: 100%;
  height: $cell-width;

  :focus {
    cursor: text;
  }

  &.isVertical:focus-within {
    background-color: white;
    width: $cell-width;
    height: auto;

    &:invalid {
      background-color: pink;
    }
  }
}
