.Aside {
  display: flex;
  flex-direction: column;
  padding: 8px 8px;
  gap: 8px;
  width: var(--aside-width-closed);
  background-color: var(--bg-third-color);
  transition: 0.2s width;

  &.open {
    width: var(--aside-width-open);
  }
}