.Sidebar {
  display: flex;
  flex-direction: column;
  padding: 8px 8px;
  gap: 24px;
  width: var(--sidebar-width-closed);
  background-color: var(--bg-third-color);
  transition: var(--sidebar-closing-speed) width;
  overflow: hidden;
  color: var(--font-inverted-primary-color);

  .text {
    transition: opacity var(--sidebar-closing-speed);
    opacity: 0;
  }
}

.Sidebar.open {
  width: var(--sidebar-width-open);

  .text {
    opacity: 1;
  }
}

.icon {
  width: 40px;
  flex-shrink: 0;
  fill: var(--bg-primary-color);
}