.Top {
  display: flex;
  background-color: var(--bg-secondary-color);
  height: var(--top-height);
  padding: 4px 8px;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  h1 {
    color: var(--font-inverted-primary-color);
    font-size: var(--font-size-l);
    pointer-events: none;
  }
}